$lte7: false !default;
$white: #fff !default;
$blue: #3074c2 !default;
$gray: #8e8e93 !default;
$red: #DB3B3E !default;
$green: #01e921 !default;

//新增橙色样式 by zuobaiquan
$orange:#EA5604 !default;
$yellow:#FFFF00 !default;

//$borderColor: #2c2c2c !default;
$borderColor: #262626 !default;


$w-gray: #646464 !default;
$w-white: #1c1c1c !default;
$w-borderColor: #eee !default;
// $w-borderColor: #eee !default;
